body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  text-align: center;
}


header {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

section {
  margin: 40px 0;
}

form input, form textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}